body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #141414;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"%3E%3Ccircle cx="10" cy="20" r="2" fill="%23fff" /%3E%3Ccircle cx="25" cy="70" r="1" fill="%23fff" /%3E%3Ccircle cx="80" cy="10" r="1.5" fill="%23fff" /%3E%3Ccircle cx="50" cy="50" r="2" fill="%23fff" /%3E%3Ccircle cx="30" cy="30" r="1" fill="%23fff" /%3E%3Ccircle cx="60" cy="80" r="1.5" fill="%23fff" /%3E%3Ccircle cx="90" cy="40" r="2" fill="%23fff" /%3E%3C/svg%3E');
    pointer-events: none;
    z-index: -1;
    animation: starsAnimation 5s infinite ease-in-out;
}

h1 {
    margin-bottom: 0px;
}

h3 {
    margin-bottom: 15px;
    margin-top: -1px;
}

form {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(247, 205, 20, 0.868);
}

label {
    margin-right: 10px;
}

input {
    padding: 10px;
    margin-right: 10px;
    background-color: #333;
    border: 1px solid #555;
    color: #fff;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
}

img, video {
    max-width: 100%;
    height: auto;
}

img, video {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.return-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #007BFF; 
    color: white;
    border-radius: 5px;
}
.return-button:hover {
    background-color: #0056b3;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: rgb(223, 17, 17);
    padding: 10px;
    display: flex;
    align-items: center;
}

.date-link {
    margin-left: 10px; 
    margin-right: auto;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    border-radius: 50px;
}

.date-link2 {
    margin-left: 10px; 
    margin-right: auto;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #432088;
    color: white;
    border-radius: 50px;
}

.date-link:hover {
    background-color: #0056b3;
}

.profile-container {
    display: flex;
    align-items: center;
    margin: 0px auto; 
}

.profile-pic {
    margin-left: 450px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 5px;
}

.pseudo {
    margin-right: 300px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative; /* Permet d'utiliser left */
    top: -14px
}

.second-button {
    margin-left: auto; 
    margin-right: 10px;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    border-radius: 50px;
}

.second-button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
}

.dropdown {
    position: relative;
    margin: 10px 0;
}

.button {
    margin-left: auto; 
    margin-right: 10px;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.options {
    display: none; 
    border: 1px solid #007BFF;
    border-radius: 50px;
    padding: 10px;
    margin-top: -10px;
    background-color: #f0f8ff;
    position: absolute;
    bottom: 100%; 
    left: 0; 
    z-index: 1; 
}

.option {
    margin: 8px 2;
}

.option a {
    text-decoration: none;
    color: #007BFF;
}

.game-container {
    background-color: #6f94ea;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin: 20px 0;
}
.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6f94ea;
    cursor: pointer;
}
.cell img {
    width: 80px;
    height: 80px;
}
.selected {
    background-color: rgba(0, 0, 0, 0.1);
}
#status {
    margin-bottom: 10px;
    font-size: 18px;
}

.hidden {
    display: none;
}
#game-container {
    display: none;
    position: relative;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #333;
    position: relative; /* Permet d'utiliser left */
}

td {
    width: 75px;
    height: 75px;
    border: 2px solid #ecdb5e;
    position: relative;
    overflow: hidden;
}

.token {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.5s ease-in-out;
}

.token.red {
    background-image: url('Images/jeton1.png');
    background-size: cover; 
}

.token.yellow {
    background-image: url('Images/jeton2.png'); 
    background-size: cover;
}

.arrow {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

td:hover .arrow {
    display: block;
}

#winner-message, #turn-message {
    border-radius: 50px;
    width: 50%;
    padding: 10px;
    background-color: #6f94ea;
    position: relative; /* Permet d'utiliser left */
    top: -400px;
    left: -390px;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown2 {
    position: relative;
    margin: 10px 0;
}

.button2 {
    margin-left: auto; 
    margin-right: 10px;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.options2 {
    display: none; 
    border: 1px solid #007BFF;
    border-radius: 50px;
    padding: 10px;
    margin-top: -10px;
    background-color: #f0f8ff;
    position: absolute;
    bottom: 100%; 
    left: 5; 
    z-index: 1; 
}

.option2 {
    margin: 6px 0;
}

.option2 a {
    text-decoration: none;
    color: #007BFF;
}

.scoreboard {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid black ;
    border-radius: 5px;
    background-color: #6f94ea;
    position: relative; /* Permet d'utiliser left */
    right: -400px;
    top: -400px;
}
